body {
  font-family: "微软雅黑", sans-serif; 
  background-color: #f4f4f4; 
  text-align: center; 
  padding: 50px; 
}

h1 {
  color: #0068a5; 
}

p {
  color: #00a4db; 
}

button {
  padding: 10px 20px; 
  font-size: 16px; 
  background-color: #02b69b; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

button:hover {
  background-color: #950099; 
}﻿